@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes page_loader {
  from {
  }
  to {
    z-index: -1;
  }
}

@keyframes page_loader {
  from {
  }
  to {
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.212);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.212);
}

header img {
  width: 50%;
  max-width: 260px;
}

header a {
  position: absolute;
  left: 20px;
}

nav {
  background-color: #f1f1f1;
}

nav .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e9e9;
  margin-top: 2px;
}

nav .localisation p {
  margin: 15px;
}

nav .explorer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 50px 0;
}

footer {
  background-color: #3f3f3f;
  padding: 15px;
  margin-top: -50px;
}

footer h2, footer div, footer a {
  color: white;
  margin: 10px 0 10px 0;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 20px;
}

footer > a {
  display: block;
}

@media screen and (min-width: 800px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.fonctionnement h1 {
  margin-left: 20px;
}

.fonctionnement ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.fonctionnement li {
  width: 80%;
  max-width: 515px;
  min-width: 270px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  height: 70px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px -6px #bbb3b3;
          box-shadow: 5px 5px 15px -6px #bbb3b3;
  font-weight: bolder;
}

.fonctionnement li:hover > i {
  color: #9356DC;
}

.fonctionnement li:hover {
  background: #f2eafb;
}

.fonctionnement div {
  position: absolute;
  left: -8px;
  background-color: #9356DC;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.fonctionnement i {
  position: absolute;
  left: 30px;
  color: #727272;
}

.restaurants {
  background-color: #f1f1f1;
  padding-bottom: 50px;
}

.restaurants h1 {
  margin: 20px;
  padding-top: 20px;
}

.restaurants__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.restaurants a {
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
          box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  width: 80%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.restaurants a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurants h2, .restaurants p {
  margin: 8px;
}

.restaurants h2 {
  font-size: 1.2em;
}

.restaurants i {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 1.5em;
}

.restaurants__new {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #a9ffdb;
  color: #00804f;
  font-weight: bolder;
  padding: 8px;
  border-radius: 5%;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 800px) {
  .fonctionnement ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonctionnement ul li {
    width: 30%;
  }
  .restaurants__liste {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants a {
    width: 40%;
    max-width: 600px;
  }
}

.loader {
  position: fixed;
  z-index: 9999;
  background: rgba(252, 252, 252, 0.897) 50% 50% no-repeat;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-animation: page_loader 3s forwards;
          animation: page_loader 3s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 3s linear backwards;
          animation: spin 3s linear backwards;
  opacity: 0;
}

.background-img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background-color: #f1f1f1;
  padding-bottom: 40px;
  border-radius: 50px 50px 0 0;
}

main .menu {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
}

main .menu h3 {
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 2px;
  width: 48px;
}

main .menu__nom-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main .menu i {
  font-size: 1.5em;
}

main .menu h2 {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
  font-size: 1.7em;
  margin: 0;
}

main .menu__plat {
  background-color: white;
  border-radius: 20px;
  margin: 15px 0;
  -webkit-box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
          box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 67px;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
  opacity: 0;
}

main .menu__plat:hover > .slide {
  margin-right: 0;
}

main .menu__plat:hover > .slide i {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

main .menu__plat .slide {
  background-color: #99E2D0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: margin-right 300ms linear;
  transition: margin-right 300ms linear;
  height: 100%;
  width: 80px;
  border-radius: 0 20px 20px 0;
  margin-right: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .menu__plat i {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

main .menu__plat h4, main .menu__plat p {
  margin: 10px;
}

main .menu__plat h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .menu__plat p {
  font-size: 0.9em;
}

main .menu__plat .prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .menu__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

main .menu__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anim-delay2 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.anim-delay3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.anim-delay4 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.anim-delay5 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.anim-delay6 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.anim-delay7 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.anim-delay8 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.anim-delay9 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

@media screen and (min-width: 900px) {
  .menu {
    max-width: 1296px;
  }
  .menu__plat {
    width: 280px;
  }
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1400px) {
  .menu__plat {
    width: 350px;
  }
}

.btn {
  background: linear-gradient(160deg, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  border-radius: 40px;
  padding: 15px 20px 15px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: white;
  -webkit-box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
          box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  border: none;
  display: block;
  min-width: 180px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-box-shadow: 5px 5px 15px -6px #444343;
          box-shadow: 5px 5px 15px -6px #444343;
}

.heart:hover .plein {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.heart:hover .vide {
  opacity: 0;
}

.vide {
  position: absolute;
  z-index: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.plein {
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(160deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */