* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
header img {
  width: 50%;
  max-width: 260px;
}
header a {
  position: absolute;
  left: 20px;
}

nav {
  background-color: #f1f1f1;
}
nav .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.342);
}
nav .localisation p {
  margin: 15px;
}
nav .explorer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 50px 0;
}

footer {
  background-color: #3f3f3f;
  padding: 15px;
  margin-top: -50px;
}
footer h2, footer div, footer a {
  color: white;
  margin: 10px 0 10px 0;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 20px;
}
footer > a {
  display: block;
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
}
.fonctionnement h1 {
  margin-left: 20px;
}
.fonctionnement ul {
  padding-inline-start: 0;
}
.fonctionnement li {
  width: 80%;
  max-width: 515px;
  min-width: 270px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 70px;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 15px -6px #bbb3b3;
  font-weight: bolder;
}
.fonctionnement li:hover > i {
  color: #9356DC;
}
.fonctionnement li:hover {
  background: #f2eafb;
}
.fonctionnement div {
  position: absolute;
  left: -8px;
  background-color: #9356DC;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: lighter;
}
.fonctionnement i {
  position: absolute;
  left: 30px;
  color: #727272;
}

.restaurants {
  background-color: #f1f1f1;
  padding-bottom: 50px;
}
.restaurants h1 {
  margin: 20px;
  padding-top: 20px;
}
.restaurants__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants img {
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.restaurants a {
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  width: 80%;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
.restaurants a:hover {
  transform: scale(1.05);
}
.restaurants h2, .restaurants p {
  margin: 8px;
}
.restaurants h2 {
  font-size: 1.2em;
}
.restaurants i {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 1.5em;
}
.restaurants__new {
  max-width: fit-content;
  background-color: #a9ffdb;
  color: #00804f;
  font-weight: bolder;
  padding: 8px;
  border-radius: 5%;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 800px) {
  .fonctionnement ul {
    display: flex;
    justify-content: center;
  }
  .fonctionnement ul li {
    width: 30%;
  }

  .restaurants__liste {
    flex-flow: wrap row;
    justify-content: center;
  }
  .restaurants a {
    width: 40%;
    max-width: 600px;
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.background-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

main {
  transform: translateY(-50px);
  background-color: #f1f1f1;
  padding-bottom: 40px;
  border-radius: 50px 50px 0 0;
}
main .menu {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
}
main .menu h3 {
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 2px;
  width: 48px;
}
main .menu__nom-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .menu i {
  font-size: 1.5em;
}
main .menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 1.7em;
  margin: 0;
}
main .menu__plat {
  background-color: white;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 67px;
  animation-name: slidedown;
  animation-duration: 2s;
  overflow: hidden;
  flex: initial;
}
main .menu__plat:hover > .slide {
  transform: translateX(0);
}
main .menu__plat:hover > .slide i {
  transform: rotate(0turn);
}
main .menu__plat .slide {
  background-color: #99E2D0;
  transform-origin: right;
  transition: transform 300ms linear;
  height: 100%;
  width: 80px;
  border-radius: 0 20px 20px 0;
  transform: translateX(101%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: auto;
}
main .menu__plat i {
  transform: rotate(-1turn);
  transition: transform 500ms;
}
main .menu__plat .prix {
  position: absolute;
  right: 0;
  font-weight: bold;
}
main .menu__plat h4, main .menu__plat p {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu__plat p {
  font-size: 0.9em;
}
main .menu__plat div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anim-delay2 {
  animation-delay: 150ms;
}

.anim-delay3 {
  animation-delay: 300ms;
}

.anim-delay4 {
  animation-delay: 450ms;
}

.anim-delay5 {
  animation-delay: 600ms;
}

.anim-delay6 {
  animation-delay: 750ms;
}

.anim-delay7 {
  animation-delay: 900ms;
}

.anim-delay8 {
  animation-delay: 1050ms;
}

.anim-delay9 {
  animation-delay: 1200ms;
}

@media screen and (min-width: 900px) {
  .menu {
    max-width: 1296px;
  }
  .menu__plat {
    width: 280px;
  }
  .menu__container {
    display: flex;
    justify-content: space-between;
  }
}
.btn {
  background: linear-gradient(160deg, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  border-radius: 40px;
  padding: 15px 20px 15px 20px;
  width: fit-content;
  margin: 0 auto;
  color: white;
  box-shadow: 5px 5px 15px -6px rgba(68, 67, 67, 0.336);
  border: none;
  display: block;
  min-width: 180px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 5px 15px -6px #444343;
}

.heart:hover #plein {
  opacity: 1;
}
.heart:hover #vide {
  opacity: 0;
}

#vide {
  position: absolute;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

#plein {
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(160deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 200ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
