.fonctionnement {
    h1 {
        margin-left: 20px;
    }
    ul {
        padding-inline-start: 0;
    }
    li {
        @include fonctionnement-li;
        font-weight: bolder;
    }
    div {
        position: absolute;
        left: -8px;
        background-color: blueviolet;
        width: 20px;
        border-radius: 100%;
        text-align: center;
        color: white;
        font-weight: lighter;
    }
    i {
        position: absolute;
        left: 30px;
        color: darken($background, 50%);
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    padding-bottom: 50px;
    h1 {
        margin-right: auto;
        margin-left: 20px;
    }
    img {
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
    }
    a {
        background-color: white;
        margin: 20px;
        border-radius: 15px;
        position: relative;
        @include box-shadow;
        width: 80%;
        transform: scale(1);
        transition: transform 200ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    h2, p {
        margin: 8px;
    }
    h2 {
        font-size: 1.2em;
    }
    i {
        display: block;
        position: absolute;
        right: 10px;
        bottom: 20px;
        font-size: 1.5em;

    }
    &__new {
        max-width: fit-content;
        background-color: rgb(169, 255, 219);
        color: rgb(0, 128, 79);
        font-weight: bolder;
        padding: 8px;
        border-radius: 5%;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}
