.fonctionnement {
    h1 {
        margin-left: 20px;
    }
    ul {
        padding-inline-start: 0;
    }
    li {
        width: 80%;
        max-width: 515px;
        min-width: 270px;
        margin: 20px auto;
        @include flex;
        background-color: $background;
        height: 70px;
        border-radius: 20px;
        position: relative;
        @include box-shadow(rgb(187, 179, 179));
        font-weight: bolder;
        &:hover > i{
            color: $color-primary;  
        }

        &:hover {
            background: lighten($color-primary, $amount: 35);
        }
    }
    div {
        position: absolute;
        left: -8px;
        background-color: $color-primary;
        width: 20px;
        border-radius: 100%;
        text-align: center;
        color: white;
        font-weight: lighter;
    }
    i {
        position: absolute;
        left: 30px;
        color: darken($background, 50%);
    }
}

.restaurants {
    background-color: $background;
    padding-bottom: 50px;
    h1 {
        margin: 20px;
        padding-top: 20px;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
    }
    a {
        background-color: white;
        margin: 20px;
        border-radius: 15px;
        position: relative;
        @include box-shadow;
        width: 80%;
        transform: scale(1);
        transition: transform 200ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    h2, p {
        margin: 8px;
    }
    h2 {
        font-size: 1.2em;
    }
    i {
        position: absolute;
        right: 10px;
        bottom: 20px;
        font-size: 1.5em;
    }

    &__new {
        max-width: fit-content;
        background-color: rgb(169, 255, 219);
        color: rgb(0, 128, 79);
        font-weight: bolder;
        padding: 8px;
        border-radius: 5%;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}


@media screen and (min-width:800px) {
    .fonctionnement {
        ul {
            display: flex;
            justify-content: center;

            li {
                width: 30%;
                
            }
        }
    }

    .restaurants {
        &__liste {
            flex-flow: wrap row;
            justify-content: center;
        }
        
        a {
            width: 40%;
            max-width: 600px;
        }
    }
}


.loader {
    position : fixed;
    z-index: 9999;
    background : rgba(252, 252, 252, 0.897) 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
    animation: page_loader 4s forwards;
    @include flex;
    }

    .spinner1 {
        border: 10px solid white;
        border-top: 10px solid #9356DC;
        border-bottom: 10px solid #FF79DA;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        animation: spin 4s linear backwards;
        opacity: 0;
      }
      
  