main {
    background-color: $background;
    padding-bottom: 40px;
    img {
        width: 100%;  
    }
    .menu {
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
        &__nom-restaurant {
            display: flex;
            justify-content: space-between;
        }
        i {
            font-size: 1.5em;
        }
        h2 {
            font-family: 'Shrikhand', cursive;
            font-weight: lighter;
            font-size: 1.7em;
            margin: 0;
        }
        &__plat {
            background-color: white;
            border-radius: 20px;
            margin: 15px 0;
            @include box-shadow;
            display: flex;
            align-items: flex-end;
            position: relative;
            .prix {
                position: absolute;
                right: 0;
            }
            h4, p {
                margin: 10px;
            }
        }
    }
    
    h3 {
        text-transform: uppercase;
        font-weight: lighter;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 2px;
        width: min-content;
    }
    
}