@mixin box-shadow ($color: rgba(68, 67, 67, 0.336)) {
    box-shadow:  5px 5px 15px -6px $color
}

@mixin btn {
    background: $gradient;
    height: 50px;
    border-radius: 40px;
    padding: 15px 20px 15px 20px;
    width: fit-content;
    margin: 0 auto;
    color: white;
    @include box-shadow
}

@mixin fonctionnement-li {
    width: 80%;
    margin: 20px auto;
    display: flex;
    background-color: $background;
    height: 70px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    @include box-shadow(rgb(187, 179, 179))
}

@mixin step-number {
    position: absolute;
    left: -8px;
    background-color: $color-primary;
    width: 20px;
    border-radius: 100%;
    text-align: center;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-btn {
    
}