@mixin box-shadow ($color: rgba(68, 67, 67, 0.336)) {
    box-shadow:  5px 5px 15px -6px $color
}

@mixin btn {
    background: $gradient;
    height: 50px;
    border-radius: 40px;
    padding: 15px 20px 15px 20px;
    width: fit-content;
    margin: 0 auto;
    color: white;
    @include box-shadow
}

@mixin step-number {
    position: absolute;
    left: -8px;
    background-color: $color-primary;
    width: 20px;
    border-radius: 100%;
    text-align: center;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-btn {
    cursor: pointer;
    opacity: 0.9;
    @include box-shadow(rgb(68, 67, 67))
}