footer {
    background-color: darken($background, 70%);
    padding: 15px;
    margin-top: -50px;
    h2, div, a {
        color: white;
        margin: 10px 0 10px 0; 
    }
    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        font-weight: lighter;
        margin-bottom: 20px;
        
    }
    > a {
        display: block;
    }
}